<div>
<nav class="navbar fixed-top navbar-light bg-light bg-success p-2 text-dark bg-opacity-50">
  <div class="container-fluid">
		<h1 class="navbar-brand fs-1">Menu</h1>
    <form class="d-flex"  action="/shoppingcart" method="get">
      <button  class="btn btn-outline-success" id="cart" onclick="displayitems()">Cart<i class="fa-regular fa-cart-shopping"></i></button>
    </form>
  </div>
</nav>
</div>


{{#each items as |item|}}

<div class="card" style="width: 100%">
  <img src="{{item.photo}}" class="card-img-top img-fluid" />
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
	</div>

					<div class="card text-end m-2">
						<p class="card-text">${{item.price}}</p>
					<button name="add" onclick= "order('{{item._id}}')" class="btn btn-outline-success">
						Add
					</button>
				</div>
</div>

{{/each}}
