<div>Shopping Cart!</div>
<ul>
	<div id=itemsList>
		{{#each items as |item|}}
		<div class="card" id="_{{item._id}}" style="width: 100%">
		  <img src="{{item.photo}}" class="card-img-top img-fluid" />
		  <div class="card-body">
		    <h5 class="card-title">{{item.name}}</h5>
		    <p class="card-text">{{item.description}}</p>
			</div>
			<div class="card text-end m-2">
					<p class="card-text card-qty">0</p>
					<p class="card-text" >${{item.price}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</ul>
<form>
	<button class="btn btn-outline-success fixed-bottom">Login width Google</button>
</form>
